<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passkey Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            border-radius: 25px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-header {
            background-color: green;
            color: white;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .btn-custom {
            background-color: green;
            color: white;
        }
        .btn-custom:hover {
            background-color: rgb(12, 98, 12);
            color: white;
        }
    </style>
</head>
<body>
    <div class="card w-50">
        <div class="card-header text-center">
            <h3>Enter Passkey</h3>
        </div>
        <div class="card-body">
            <form id="passkey-form">
                <div class="form-group">
                    <label for="passkey">Passkey</label>
                    <input type="password" name="passkey" class="form-control" id="passkey" placeholder="Enter your passkey">
                    <button type="submit" id="btn" class="btn btn-custom btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script>
    document.getElementById('passkey-form').addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevent page reload

      const passkey = document.getElementById('passkey').value;

      const response = await fetch('/passkey', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ passkey: passkey }),
      });

      const data = await response.json();

      const responseMessage = document.getElementById('response-message');

      if (data.success) {
        responseMessage.innerHTML = `<p style="color: green;">Passcode: ${data.passcode}</p>`;
      } else {
        responseMessage.innerHTML = `<p style="color: red;">${data.message}</p>`;
      }
    });
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>